# LLM
MODEL=ministral-3:3b
BASEURL=http://192.168.1.35:11434/v1
TEMPERATURE=0.1
TOP_P=0.2
API_KEY=loc-123

# Embedding
EMBEDDING_SOURCE=local   # "local wenn das Modell lokal laufen soll"
EMBEDDING_ENDPOINT=http://192.168.1.35:8080/v1
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_DIMENSIONS=384

# HF_TOKEN
HT_TOKEN=

# Unstructered important variables
POPPLER_PATH="C:/poppler/Library/bin"
TESSERACT_PATH="C:/Program Files (x86)/Tesseract-OCR"
TESSERACT_CMD="C:/Program Files (x86)/Tesseract-OCR/tesseract.exe"

# Directory for analytics
DATA_DIR="./data"

# Directory for summaries
SUMMARIES_DIR="./summaries"
